<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ config.base_url }}iosevka/iosevka.css">
    <link rel="stylesheet" href="{{ config.base_url }}style.css">
    <link rel="stylesheet" href="{{ config.base_url }}prism-theme.css">
    <title>Pyxylyze</title>
</head>

<body>
    <nav class="navbar">
        <div class="left">
            <a href="{{ config.base_url }}"><h1>Pyxylyze</h1><h2>Software Design</h2></a>
        </div>
        <div class="middle">
            <div class="nav-links">
            </div>
        </div>
        <div class="right">
            <div class="social-links">
                <a href="https://twitter.com/pyxylyze">Twitter</a>
                <a href="https://github.com/pyxylyze">Github</a>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </section>
</body>
{% block footer %}{% endblock %}
</html>